@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1e1e1e;
  background: #fefefe;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 10px;
}

.main {
  position: relative;
  margin: 0;
  font-size: 2rem;
  min-height: 100vh;
  align-items: center;
}

.clock {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 32rem;
  height: 35rem;
  border-radius: 50%;
  position: absolute;
  padding: 1rem;
}
.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 1;
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline: 1px solid crimson;
}

.clock.active {
  display: none;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 7px;
  background: transparent;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  border-radius: 3rem;
  outline: 3px solid #fff;
  z-index: 5;
}

.hour-hand {
  transform-origin: 100%;
  width: 30%;
  left: 6rem;
}

.min-hand {
  transform-origin: 100%;
  width: 40%;
  left: 3rem;
}

.second-hand {
  background: crimson;
  height: 2px;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  outline: none;
}

.number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(0deg);
  font-size: 1.6em;
  color: #cecece;
  font-weight: 900;
  border-radius: 100%;
}

.number1 {
  transform: rotate(30deg);
}

.number2 {
  transform: rotate(60deg);
}

.number3 {
  transform: rotate(90deg);
}

.number4 {
  transform: rotate(120deg);
}

.number5 {
  transform: rotate(150deg);
}

.number6 {
  transform: rotate(180deg);
}

.number7 {
  transform: rotate(210deg);
}

.number8 {
  transform: rotate(240deg);
}

.number9 {
  transform: rotate(270deg);
}

.number10 {
  transform: rotate(300deg);
}

.number11 {
  transform: rotate(330deg);
}

.Size-lg {
  font-size: 1.6em;
}

.Size-m {
  font-size: 1.2em;
}

.fa-minus {
  transform: rotate(90deg);
  -webkit-text-stroke: 5px #fefefe;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

.apple-watch {
  position: relative;
  width: 17.75em;
  height: 20.5em;
  margin: 2em auto;
  color: #999;
  background: #000;
  border-radius: 3.25em;
  transform: translateZ(0);
  transition: all 500ms;
}

.apple-watch:before,
.apple-watch:after {
  content: "";
  position: absolute;
  top: 1.3em;
  left: 0.87em;
  display: block;
  width: 0.5em;
  height: 0;
  transform: skewY(-45deg);
  box-shadow: 0 0 0.375em 0.25em rgba(255, 255, 255, 0.7);
}

.apple-watch:after {
  left: auto;
  top: 1.3em;
  right: 0.87em;
  transform: skewY(45deg);
}

.glass {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 91%;
  height: 91%;
  overflow: hidden;
  border-radius: 2.56em;
  box-shadow: 0 0 0 0.125em #333, 0 -1.25em 1em -0.75em rgba(255, 255, 255, 0.5), 1.5em 0 1em -1em rgba(255, 255, 255, 0.5), 0 1.25em 1em -0.75em rgba(255, 255, 255, 0.5), -1.5em 0 1em -1em rgba(255, 255, 255, 0.5), inset 3em 0 4em -3em rgba(255, 255, 255, 0.6), inset -0.25em -0.25em 0.75em rgba(255, 255, 255, 0.4), inset 0.5em 0 0.75em -0.5em rgba(255, 255, 255, 0.6), inset 0 0 0 2em #000;
}

.glass:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 88%;
  height: 10%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10%/50%;
  box-shadow: inset 0 1.25em 1em 0.25em rgba(255, 255, 255, 0.4);
}

.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 91%;
  height: 91%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  border-radius: 2.56em;
}

.crown {
  position: absolute;
  z-index: 10;
  top: 4.75em;
  right: -0.8em;
  width: 1.15em;
  height: 3.5em;
  overflow: hidden;
  background: linear-gradient(-72deg, #dedede, #ffffff 16%, #dedede 21%, #ffffff 24%, #454545 27%, #dedede 36%, #ffffff 45%, #ffffff 60%, #dedede 72%, #ffffff 80%, #dedede 84%, #a1a1a1);
  background-size: 50% 0.25em;
  background-position: top right;
  background-repeat: repeat-y;
  border-left: 3px solid #777;
  border-radius: 50% 25% 25% 50%/50% 25% 25% 50%;
  box-shadow: inset 0 0.15em 0.15em rgba(0, 0, 0, 0.5), inset 5.15em 0 0.15em -5em rgba(0, 0, 0, 0.2), inset 5.3em 0 0.15em -5em rgba(0, 0, 0, 0.2), inset 0 0.4em 0.5em rgba(0, 0, 0, 0.8), inset 0 1em 0.5em rgba(0, 0, 0, 0.3), inset 0 -1em 0.5em rgba(0, 0, 0, 0.3), inset 0 0 0 1em #ffffff80;
}

.crown:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 45%;
  height: 0.125em;
  color: rgba(0, 0, 0, 0.4);
  background: #777;
  box-shadow: 0 -0.25em, 0 -0.5em, 0 -0.75em rgba(0, 0, 0, 0.3), 0 -1em rgba(0, 0, 0, 0.3), 0 -1.1875em rgba(0, 0, 0, 0.3), 0 -1.375em rgba(0, 0, 0, 0.2), 0 -1.5625em rgba(0, 0, 0, 0.2), 0 -1.6875em rgba(0, 0, 0, 0.15), 0 0.25em, 0 0.5em, 0 0.75em rgba(0, 0, 0, 0.3), 0 1em rgba(0, 0, 0, 0.3), 0 1.1875em rgba(0, 0, 0, 0.3), 0 1.375em rgba(0, 0, 0, 0.2), 0 1.5625em rgba(0, 0, 0, 0.2), 0 1.6875em rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.button {
  position: absolute;
  z-index: 10;
  top: 10.8125em;
  right: -0.25em;
  width: 0.25em;
  height: 5.25em;
  overflow: hidden;
  background-size: 50% 0.25em;
  background-position: top right;
  background-repeat: repeat-y;
  border-radius: 30% 25% 25% 30%/50% 25% 25% 50%;
  box-shadow: -0.0625em 0 0.125em #777, inset -0.0625em 0 0.0625em rgba(0, 0, 0, 0.5), inset 0 0.0625em rgba(0, 0, 0, 0.5), inset 0 0.125em 0.15em rgba(222, 222, 222, 0.8), inset 0 0.25em rgba(0, 0, 0, 0.5), inset 0 0.5em 0.15em rgba(222, 222, 222, 0.8), inset 0 -0.25em 0.125em rgba(0, 0, 0, 0.6), inset 0 -0.5em 0.125em rgba(222, 222, 222, 0.8), inset 0 -0.75em 0.125em rgba(0, 0, 0, 0.6), inset 0 1.25em 0.5em -0.25em rgba(0, 0, 0, 0.8), inset 0 0 0 0.25em rgba(222, 222, 222, 0.75);
  transition: all 1.5s linear forwards;
}
.button:hover {
  box-shadow: none;
  right: -0.15em;
}

.clock-digital {
  display: none;
  position: relative;
  top: 28%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 7px;
  z-index: 9;
}

.clock-digital.active {
  display: block;
}

.date-digital {
  font-family: "Source Sans Pro", sans-serif;
  display: none;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  z-index: 9;
}

.date-digital.active {
  display: block;
}

.picture {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 90;
  position: absolute;
  top: 64.8%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 86.5%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  border-radius: 2.5em;
}

.picture.active,
.bg-color.active,
.start-img.active {
  display: block;
}

.picture,
.bg-color,
.start-img {
  display: none;
}

.start-img {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 91%;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
}

.bg-color {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83%;
  height: 83%;
  background-image: linear-gradient(to top, #ead9bf, #cdd9c2, #bad4cc, #b6ccd1, #bbc3cd);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  border-radius: 2.56em;
  z-index: 2;
}

.btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9999;
  height: 91%;
  width: 91%;
  background: transparent;
  border-radius: 2.56em;
  background-position: 50% 60%;
  border: none;
  outline: none;
}

.color-picker-container {
  margin: 0 auto;
  width: 42rem;
}

.color-picker-headline {
  margin: 1em 0;
}

.color-picker-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

.color-dot {
  border: 0;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fefefe;
  cursor: pointer;
  border: 2px solid grey;
}

.first-dot {
  background-color: #09203f;
}

.second-dot {
  background-color: #6b0f1a;
}

.third-dot {
  background-color: black;
}

.apple-watch.color-blue {
  background-color: #09203f;
}

.apple-watch.color-red {
  background-color: #6b0f1a;
}

.apple-watch.color-black {
  background-color: black;
}

.color-dot.color-blue:focus,
.color-dot.color-red:focus,
.color-dot.color-black:focus {
  outline: 2px solid #111;
  outline-offset: 2px;
}

.color-label-blue,
.color-label-red,
.color-label-black {
  display: none;
}

.color-label-blue.display-block,
.color-label-red.display-block,
.color-label-black.display-block {
  display: block;
}

.fade-in {
  -webkit-animation: fade-in 1s ease-in;
          animation: fade-in 1s ease-in;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */